.title {
    font-size: 64px;
    color: teal;
    text-align: center;
}

.desc {
    color: teal;
    text-align: center;
}

body {
    background-color: thistle;
}

.blurb {
    font-style: italic;
    border: 1px solid #6A5ACD;
    padding: 15px;
    margin: 24px;
    background-color: thistle;
    border-radius: 8px;
    color: teal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid royalblue;
    margin: 1em 0; /* em means all sides */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

a {
    font-size: 26px;
}

a:hover {
    color: purple;
}

p {
    color: teal;
}

p.italic {
    color: teal;
    font-style: italic;
}

img {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex-box {
    display: flex;
    gap: 15px;
}

.inner-box {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    width: fit-content;
    border: 1px solid #6A5ACD;
    border-radius: 2px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease; 
}

.box:not(.disabled):hover {
    transform: scale(1.2); 
    cursor: pointer;
}

.box.disabled {
    font-size: 26px;
    font-weight: 700;
    color: teal;
}

textarea[type="text"] {
    font-size: 24px;
    font-family: Tinos, "Times New roman";
    background-color: thistle;
    color: teal;
    outline: none;
    border-color: none;
}

textarea[type="text"]:focus {
    outline: none;
    border-color: none;
}

.footer {
    font-size: 18px;
    text-align: center;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
}
